{% extends "first/base.html" %}
{%  block content %}

    <br><br>
    <div id="description">
        <h2 id="bold">WHERE TO GO</h2>
        <h5>Сервис для подбора перспективных направлений путешествий по России</h5><br><br>
        <h5 class="form">Как пользоваться?</h5>
        <h5>Введите город => сервис покажет вам оценку этого города в каждом месяце<br>
            Введите месяц => сервис выдаст топ городов для посещения в этом месяце<br>
            Размер топа можно регулировать с помощью специального поля<br>
            Введите город и месяц => сервис покажет вам оценку города в указанном месяце</h5>
    </div>
    <br><br><br>
    <form action="/about/" method="get" class="div-form">
    <div id="input">
        <h class="form">Город</h>
        <input type="text" name="city" class="create-form"><br><br>
        <h class="form">Месяц</h>
        <input type="text" name="month" class="indent-right"><br><br>
        <h class="form">Хочу увидеть топ -</h>
        <input type="text" name="top" class="indent-right"><br><br>
        <input type="submit" value="Показать" class="create-form submit-form">
    </div>
    </form>

{% endblock content %}