{% extends "first/base.html" %}
{%  block content %}
    {% comment %}{% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          </div>
        </article>
    {% endfor %}{% endcomment %}
    <form action="/about/" method="get">
        Город
        <input type="text" name="city"><br>
        Месяц
        <input type="text" name="month"><br>
        Хочу увидеть топ-
        <input type="text" name="top"><br><br>
        <input type="submit" value="Показать">
    </form>
{% endblock content %}