body {
  background: url(жд.png) no-repeat;
  -moz-background-size: 100% 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100% 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100% 100%; /* Opera 9.6+ */
  background-size: 100% 100%;
  font-family: "Kaushan Script", cursive;
}

h5 {
  color: #808080;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2 {
  color: white;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.form {
  color: white;
  font-size: 20px;
  font-family: "Kaushan Script", cursive;
}

#description {
  color: #c2c2c2;
}

#indent-left {
  margin-left: 20px;
}

#bold {
  font-weight: 700;
}

.indent-right {
  margin-right: 5px;
}

#input {
  text-align: center;
}

.button {
  background-color: #baffca;
  border: 1px solid #00800f;
  border-radius: 10px;
}

.center {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}



