body {
  background-image: url(1.jpg)
  /*background-color: aqua;*/
}

div {
  background-color: white;
  border: 5px solid #baffca;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.97;
}

#hat {
  background-color: #baffca;
  border: 1px solid #baffca;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#description {
  background-color: #e3e3e3;
  border: 1px solid #baffca;

}

#indent-left {
  margin-left: 20px;
}

#bold {
  font-weight: 700;
}

.indent-right {
  margin-right: 5px;
}

#input {
  text-align: center;
}

.button {
  background-color: #baffca;
  border: 1px solid #00800f;
  border-radius: 10px;
}

.center {
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}